<form autocomplete="off" (ngSubmit)="onLogin()" [formGroup]="form">
    <label for="email">Enter email: </label>
    <input 
    type="text"
     id="email"
     placeholder="Email"
     formControlName="email"
     >
    <label for="password">Enter password: </label>
    <input 
    type="password" 
    id="password"
    placeholder="Password"
    formControlName="password"
    >
    <input type="submit" value="Login">
    <p class="switch">Dont have an account? <a routerLink="/auth/signup">Sign up instead</a></p>
</form>