<div class="container">
    <h1 class="title">Shopping Cart</h1>
    <p class="amount">You have {{ totalItems }} items in your cart</p>
    <div class="table">
        <div class="row">
            <div></div>
            <div>Product</div>
            <div>Quantity</div>
            <div>Price</div>
        </div>
        <div class="row" *ngFor="let product of products; let i = index">
            <div class="img-container">
                <img [src]="product.product.imageUrl">
            </div>
            <h2 class="product-title">{{ product.product.title }}</h2>
            <div class="quantity">
                <span class="remove" (click)="updateAmount(product.product.id, -1)">-</span>
                <p>{{ product.amount }} in cart</p>
                <span class="add" (click)="updateAmount(product.product.id, 1)">+</span>
            </div>
            <p class="price">$ {{ currentTotal(i) }}</p>
        </div>
        <div class="row">
            <button class="clear" (click)="clearShoppingCart()">Clear Shopping Cart</button>
            <div class="div"></div>
            <div class="div"></div>
            <p class="total-price">$ {{ totalPrice() }}</p>
        </div>
    </div>
</div>