@import '../../../styles/pallette';
form {
    width: fit-content;
    margin: 30px auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    padding: 30px;
    border-radius: 10px;
    background-color: rgb(238, 238, 238);
    label {
        display: block;
    }
    input {
        outline: none;
        border-radius: inherit;
        border: 1px solid gray;
        padding: 8px 10px;
        width: 100%;
        transition: all .2s ease-in-out;
        &:not(:last-of-type):focus{
            border: 1px solid $nice-pink;
        }
        &:not(:last-of-type){
            margin-bottom: 20px;
        }
        &:last-of-type{
            color: #fff;
            background-color: $nice-pink;
            border: none;
            transition: all .3s ease-in-out;
            &:hover{
                cursor: pointer;
                background-color: $nice-pink-hovered;
            }
        }
        &.ng-touched.ng-invalid{
            border: 1px solid red;
            box-shadow: rgba(138, 14, 14, 0.452) 0px 5px 10px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        }
    }
    .switch {
        font-size: 14px;
        margin-top: 5px;
        a {
            color: $nice-pink;
            cursor: pointer;
        }
    }

}