<form autocomplete="off" [formGroup]="form" (ngSubmit)="onSignup()">
    <div class="form-control">
        <label for="sign-up-username">Enter email: </label>
        <input 
        type="text"
         id="sign-up-email"
         placeholder="Email"
         formControlName="email"
         >
         <div class="errors"
            *ngIf="form.get('email')?.touched &&
            form.get('email')?.invalid"
         >
            <p *ngIf="form.get('email')?.errors?.required">Email is required</p>
            <p *ngIf="form.get('email')?.errors?.email">Invalid email</p>
         </div>
    </div>
    <ng-container formGroupName="pass-group">
        <div class="form-control">
            <label for="sign-up-password">Enter password: </label>
            <input 
            id="sign-up-password" 
            type="password"
            placeholder="Password"
            formControlName="password"
            >
            <div class="errors"
            *ngIf="form.get('pass-group.password')?.touched &&
            form.get('pass-group.password')?.invalid"
            >
                <p *ngIf="form.get('pass-group.password')?.errors?.required">Password is required</p>
                <p *ngIf="form.get('pass-group.password')?.errors?.minlength">Password should contain at least {{ 
                    form.get('pass-group.password')?.errors?.minlength?.requiredLength }} symbol</p>
            </div>
        </div>
        <div class="form-control">
            <label for="c-password">Confirm password: </label>
            <input 
            id="c-password" 
            type="password"
            placeholder="Confirm password"
            formControlName="c-password"
            >
            <div class="errors"
            *ngIf="form.get('pass-group.c-password')?.touched &&
            (form.get('pass-group')?.invalid || form.get('pass-group.c-password')?.invalid)"
            >
                <p *ngIf="form.get('pass-group.c-password')?.errors?.required">Password is required</p>
                <p *ngIf="form.get('pass-group')?.errors?.confirmPass">Passwords doesn't match</p>
            </div>
        </div>
    </ng-container>
    <div class="form-control">
        <input type="submit" value="Sign up">
        <p class="switch">Already have an account? <a routerLink="/auth/login">Log in instead</a></p>
    </div>
    <app-auth-alert
        [formStatus] = "formStatus"
        (closeAlert) = "confirmAlert()"
        *ngIf="showAlert"
    ></app-auth-alert>
</form>