@import '../../../styles/pallette';
form {
    width: fit-content;
    margin: 30px auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    padding: 30px;
    border-radius: 10px;
    background-color: rgb(238, 238, 238);
    label {
        display: block;
    }
    .form-control {
        
        input {
            outline: none;
            border-radius: 10px;
            border: 1px solid gray;
            padding: 8px 10px;
            width: 100%;
            transition: all .2s ease-in-out;
            &.ng-touched.ng-invalid{
                border: 1px solid red;
                box-shadow: rgba(138, 14, 14, 0.452) 0px 5px 10px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
            }
        }
        &:not(:last-of-type) input:focus {
            border: 1px solid $nice-pink;
        }
        &:not(:last-of-type) {
            margin-bottom: 20px;
        }
        &:last-of-type input{
            color: #fff;
            background-color: $nice-pink;
            border: none;
            transition: all .3s ease-in-out;
            &:hover{
                cursor: pointer;
                background-color: $nice-pink-hovered;
            }
        }
    }
    .errors {
        animation: topSlider .3s ease-in-out;
        color: red;
        font-size: 14px;
    }
    .switch {
        font-size: 14px;
        margin-top: 5px;
        a {
            color: $nice-pink;
            cursor: pointer;
        }
    }
}