<nav class="nav">
    <ul class="nav-list">
        <li class="nav-list--item" routerLink="/">0</li>
        <li class="nav-list--item"
        routerLink="shopping-cart"
        >Shopping Cart <span class="cart-amount">{{ length }}</span></li>
        <li 
        *ngIf="!currentUser"
        class="nav-list--item"
        routerLink="auth/login"
        >Log in</li>
        <li class="nav-list--item"
            *ngIf="currentUser"
            (mouseover)="isDropdownShown = true"
            (mouseleave)="isDropdownShown = false"
            >
            {{ currentUser.email }} <i class="fas fa-caret-down"></i>
            <app-dropdown 
                [isAdmin]="currentUser.isAdmin"
                *ngIf="isDropdownShown"
            ></app-dropdown>
        </li>
    </ul>
</nav>
<div class="container">
    <router-outlet></router-outlet>
</div>