<div class="container">
    <ul class="filter-bar">
        <li
            [ngClass]="{ active: activatedRoute == 'all' }"
            (click)="filterByCat('')"
            class="active"
        >All categories</li>
        <li 
        *ngFor="let category of categories$ | async"
        (click) = "filterByCat(category)"
        [ngClass]="{ 'active': activatedRoute == category }"
        >{{ category }}</li>
    </ul>
    <div class="products">
        <app-product-card *ngFor="let product of products"
            [product] = "product"
        >
        </app-product-card>
    </div>
</div>